* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;

}

#page1{
    background-color: rgb(255, 0, 238);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#page2{
    background-color: rgb(255, 136, 0);
    height: 100%;
    width: 100%;
    padding: 2vw;



}
#page3{
    background-color: rgb(255, 234, 0);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 40vw;
}