* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#main h1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
    overflow: hidden;
}

h1 span{
    display: inline-block;

}