* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    height: 200px;
    width: 400px;
    animation: fuck 2.5s forwards;
}

@keyframes fuck {
    from{
        background-color: #fff;
        border-radius: 0%;
        scale: 1;
        
    }
    to{
        background-color: red;
        border-radius:100%;
        scale: 0.5;
    }
    
}