* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/531767/pexels-photo-531767.jpeg);
    background-size: cover;
    background-position: center;
}



#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    color: white;

}

#nav h2{
    font-weight: 700px;
    font-size: 30px;
}

#nav i{
    font-size: 30px;
    font-weight: 700px;
    cursor: pointer;
}


#full{
    height: 100%;
    width: 40%;
    position: fixed;
    background-color: #ffffff9c;
    top: 0%;
    right: -40%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 150px 60px;
}

#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
}

#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 30px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-weight: 800;
    cursor: pointer;
}