@font-face {
    font-family: hii;
    src: url(./NeueMachina-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hii;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}

#page1,#page2,#page3{
    height: 100%;
    width: 100%;
    background-color: #111;
    padding: 5vw 0;
}

#move{
    background-color: #D9FF06;
    display: flex;
    padding: 2vw 0;
}

.marque{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 0 1.5vw;
    transform:translateX(-100%);

}

.marque h1{
    font-size: 4vw;
}
.marque img{
    height: 4vw;
}

 