* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color:#000;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  color: rgb(144, 207, 50);
  font-family: monospace;
  font-size: 3rem;
}

