* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #000;
}

header{
    height: 100px;
    width: 100%;
    text-align: center;
    color: transparent;
    /* background-color: #000; */
    background-image: url(https://imgs.search.brave.com/UdH7yZl3BIh8P4tGwE-ukXGqev5bkEGwKJA9vtWhn7o/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2VlL2I0/LzRjL2VlYjQ0Yzgy/MGRlZTNhMTcxZDY1/MDhhYzNkNjZhZWZi/LmpwZw);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-clip: text;
    -webkit-text-stroke: 0.5px white;
}

header h1{



}

#parent{
    height:50%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    flex-wrap: nowrap;
    padding: 30px;
    overflow: auto;
    
}

#parent::-webkit-scrollbar{
    height: 10px;
    width: 100px;
    background-color: #fff;
    border-radius: 30px;
}

#parent::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 30px;

}

#child{
    flex-shrink: 0;
    height: 100%;
    width: 20%;
    background-color: khaki;
    border-radius: 30px;


}

#child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    cursor: pointer;

}