* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main{
    background-color: #111;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: azure;
    border-radius: 50%;
    position: fixed;
    font-size:5px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 9;
}

#image{
    height: 30vw;
    width: 60vw;
    background-color: rgb(93, 131, 165);
    border-radius: 30px;
    position: relative;
}

#image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}


#overlay{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 10;

}