* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#nav{
    /* background-color: red; */
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

#links{
    display: flex;
    gap: 50px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}