* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: crimson;
    cursor: pointer;
    position: relative;
    z-index: 9;
}

button:active{
    scale: 0.95;
}