* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root{
    --x:200px;
    --y:200px;
}
body{
    background-image: url(https://i.pinimg.com/1200x/7b/87/0e/7b870ec101537650c42c5b169f9ee186.jpg);
    background-size: cover;
}



.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(200px at var(--x) var(--y) ,rgba(255, 255, 255, 0) 0% ,rgba(0, 0, 0, 0.923) 80%);

}